@charset "UTF-8";
/**
 * 
 * @authors ctam
 * @date    2014-05-09 19:38:05
 * @version 1.00
 */


body{
    font-size: 13px;
	line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
	background-color: #ffffff;
}

body, ul{

    margin: 0;

    padding: 0;

}

h2 {
	font-size: 24px;
	line-height: 36px;
}

div.center, p.center, img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}

#container > div {
	 margin: 0 auto;
}

.box {
	width: 40.170940171000005%;
	height:auto;
}

.box-button {
	width: 40.170940171000005%;
}

.box-alert {
	background-color: #e4f0ff;
	border-color: #c0e7ff;
	color: #1b3650;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #f3e4a7;
	border-radius: 4px;
	text-align:center;
}

.box-input {
	margin-bottom: 10px;
}

.box-input input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 18px;
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	vertical-align: middle;
}

.box-input .add-on {
	display: inline-block;
	width: auto;
	height: 18px;
	min-width: 16px;
	padding: 4px 5px;
	font-weight: normal;
	text-align: center;
	line-height: 18px;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	margin-right: -7px;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-user {
	background-position: -168px 0;
}

.icon-lock {
	background-position: -287px -24px;
}

.well {
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}


.login-btn {
	margin-top: 15px;
	width: 100%;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	background-color: #707070;
	background-image: -moz-linear-gradient(top, #909090, #3f3f3f);
	background-image: -ms-linear-gradient(top, #909090, #3f3f3f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#909090), to(#3f3f3f));
	background-image: -webkit-linear-gradient(top, #909090, #3f3f3f);
	background-image: -o-linear-gradient(top, #909090, #3f3f3f);
	background-image: linear-gradient(top, #909090, #3f3f3f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#3f3f3f', GradientType=0);
	border-color: #3f3f3f #3f3f3f #191919;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #3f3f3f;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color:#ffffff;
  background-color: #ececec;
  *background-color: #dfdfdf;
}
.btn:active,
.btn.active {
  background-color: #d3d3d3 \9;
}

.login-btn:hover,
.login-btn:active,
.login-btn.active,
.login-btn.disabled,
.login-btn[disabled] {
  background-color: #3f3f3f;
  *background-color: #323232;
}
.login-btn:active,
.login-btn.active {
  background-color: #262626 \9;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



.header {
	text-align:center;
	padding-top: 30px;
	height: 120px;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear{
    clear: both;
}



